.card_content {
  padding: 0px;
}
.card_content ion-label span {
  color: red;
}
.label_size {
  font-size: 14px;
  color: #082744;
}
.label_color_size {
  color: #98a4b3;
  font-size: 14px;
  font-family: Arial, Verdana, Sans-serif;
}
.left {
  float: left;
}
.right {
  float: right;
  text-align: right;
}
.input_style {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 14px;
  color: #082744;
}
.bottom_button {
  margin: 8px 16px;
}
