<ion-content>
    <ion-icon *ngIf="switchRoutes" (click)="switchRoutes = !switchRoutes"
              style="position: absolute;top:50px;left: 20px;font-size: 24px;width: 24px;height: 24px;" name="close">
    </ion-icon>

    <ion-card style="margin-top: 25%;padding-bottom: 30px;">
        <ion-card-header>
            <ion-card-header>
                <ion-card-title style="text-align: center" *ngIf="!switchRoutes">
                    登录
                </ion-card-title>
                <ion-card-title style="text-align: center" *ngIf="switchRoutes">
                    服务器配置
                </ion-card-title>
            </ion-card-header>
        </ion-card-header>
        <ion-card-content>
            <ion-item *ngIf="!switchRoutes">
                <ion-label>工作中心</ion-label>
                <ion-select interface="popover" [(ngModel)]="wCenter">
                    <ion-select-option *ngFor="let item of workCenter"
                                       [value]="item.id">{{item.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!switchRoutes">
                <ion-label>工作单元</ion-label>
                <ion-select interface="popover" [(ngModel)]="uOfWork">
                    <ion-select-option *ngFor="let item of unitOfWork"
                                       [value]="item.id">{{item.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!switchRoutes">
                <ion-label>登录人员</ion-label>
                <ion-select interface="popover" [(ngModel)]="wKer">
                    <ion-select-option *ngFor="let item of worker" [value]="item.id">{{item.name}}</ion-select-option>
                </ion-select>
            </ion-item>

            <!--服务器配置-->
            <ion-item *ngIf="switchRoutes" style="padding:0 25px 0 10px">
                <ion-label>后端IP:</ion-label>
                <ion-input class="textalign" placeholder="输入IP" [type]="'url'" pattern="url" [(ngModel)]="serverIp"
                           [clearInput]="true"></ion-input>
            </ion-item>
            <ion-item *ngIf="switchRoutes" style="padding:0 25px 0 10px">
                <ion-label>后端PORT:</ion-label>
                <ion-input class="textalign" placeholder="输入PORT" [type]="'tel'" [(ngModel)]="serverPort"
                           [clearInput]="true"></ion-input>
            </ion-item>
            <div *ngIf="switchRoutes" style="line-height: 40px;padding: 10px 29px;width: 70%;display: inline-block;">
                <ion-checkbox style="display: inline-block;vertical-align: middle;" [checked]="memoryServerConfig"
                              [(ngModel)]="memoryServerConfig"
                              (ionChange)="memoryServerConfigChange(memoryServerConfig)"
                ></ion-checkbox>
                <div style="display: inline-block;padding-left: 10px;">记住配置信息</div>
            </div>
            <div *ngIf="switchRoutes" style="display: inline-block;width: 30%;">
                <div (click)="ping(serverIp)">Ping测试</div>
            </div>

            <div style=" margin-top: 20px;padding:0 20px">
                <ion-button *ngIf="!switchRoutes" expand="block" (click)="offLineLogin()">登录
                </ion-button>
                <ion-button *ngIf="switchRoutes" expand="block" (click)="serverConfig()">确定
                </ion-button>
            </div>
            <div *ngIf="!switchRoutes" style=" margin: 20px 5px;padding:0 20px;">
                <div style="width: 50%;display: inline-block;text-align: start;">
                     <span (click)="switchRoutes = true">配置服务器
                </span>
                </div>
                <div style="width: 50%;display: inline-block;text-align: end;">
                    <span (click)="refresh()">刷新</span>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
