.bottom_button {
  margin: 8px 24px;
}

.label_color_size {
  color: #98a4b3;
  font-size: 14px;
  font-family: Arial, Verdana, Sans-serif;
}

.left {
  float: left;
}

.input_style {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 14px;
  color: #082744;
}

// 时间 List 样式
.date-picker-list .am-list-item .am-list-line .am-list-extra {
  flex-basis: initial;
}




