<ion-header>
    <ion-toolbar>
        <ion-title>
            通知
        </ion-title>
<!--        <ion-icon name="more" class="bar-btn" slot="end" (click)="presentPopover($event)"></ion-icon>-->
    </ion-toolbar>
</ion-header>

<ion-content>

<!--    <ion-button (click)="download(requestPDF)">pdfDownload</ion-button>-->
<!--    <br/>-->
<!--    <ion-button (click)="download(requestDOCX)">docxDownload</ion-button>-->
<!--    <br/>-->
<!--    <ion-button (click)="download(requestXLS)">xlsDownload</ion-button>-->
<!--    <br/>-->
<!--    <ion-button (click)="PreviewAnyFileFromLocation(docSrc)">PreviewAnyFileFromLocation</ion-button>-->
<!--    <br/>-->

<!--    <ion-button (click)="createFile()">创建</ion-button>-->
<!--    <br/>-->
<!--    <p>locationFilePath = {{locationFilePath}}</p><br/>-->
<!--    <ion-input [(ngModel)]="writeData">写入的内容：</ion-input>-->
<!--    <br/>-->
<!--    <ion-button (click)="writeFile()">写入</ion-button>-->
<!--    <br/>-->

<!--    <ion-button (click)="readFile()">读取</ion-button>-->
<!--    <br/>-->
<!--    <ion-button (click)="removeDir('file:///storage/emulated/0/Android/data/io.ionic.starter/files/Downloads/','temp')">删除目录</ion-button>-->
<!--    <br/>-->
<!--    <p>读取的文件内容 = {{readData}}</p><br/>-->


    <!--    <a href="http://www.xdocin.com/demo/demo.docx">docxOpen</a><br/>-->
    <!--    <a href="http://storage.xuetangx.com/public_assets/xuetangx/PDF/1.xls">xlsOpen</a>-->

</ion-content>
