.filter {
  width:4%;padding:8px 2%;float:left;height: 28px;background-color: #0b82f1;color: #ffffff;
}

.filter2 {
  width: 5%;
  height: 24px;
  margin: 10px 0px 10px 10px;
  vertical-align: middle;
  display: inline-block;
}
