.label_color_size {
  color: #98a4b3;
  font-size: 14px;
  //font-family: Arial, Verdana, Sans-serif;
}

.label_size {
  font-size: 14px;
  color: #082744;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}
