.labelY {
  //width: 60%;
  //float: left;
  font-size: 17px;
  color: #082744;
  //font-family: Arial,Verdana,Sans-serif;
  height: 23px;
  //overflow-y: auto;
}

.filter {
  width: 5%;
  padding: 8px 2%;
  float: left;
  height: 28px;
  background-color: #0b82f1;
  color: #ffffff;
}

.filter2 {
  width: 5%;
  height: 24px;
  margin: 10px 0px 10px 10px;
  vertical-align: middle;
  display: inline-block;
}


